body {
    background: url('../image/backImage.svg') no-repeat;
    background-size: 100% 100%;
}

#logo {
    vertical-align: middle;
    margin-bottom: -5px
}

#web-title {
    display: inline-block;
    width: auto;
}