body {
    background: url('../image/backImage.svg') no-repeat;
    background-size: 100% 100%;
}

.w_h {
    width: 70%;
    margin: 10px auto;
    border-radius: 20px;
}

#logo {
    vertical-align: middle;
    margin-bottom: -5px
}

#web-title {
    display: inline-block;
    width: auto;
}

input[type=button], button, a.button {
    background-color: rgba(234, 226, 226, 0.6);
    color: #204244;
    transition: all 0.5s;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

a.button {
    text-decoration: none;
    border: 1px solid #000000;
}

input[type=button]:hover,
button:hover,
a.button:hover {
    background-color: rgb(0, 0, 0);
    color: #72c6cb;
}

table.theme-table {
    text-align: center;
    background-color: #1ed2c3;
    align-items: center;
}

td.theme-table,
.theme-table td {
    background-color: rgb(182, 238, 233);
    padding: 5px 10px;
}
