/* 神经网络背景图 */
body {
    transition: all 10s;
    color: #2d2d2d;
    background: url('../image/backImage.svg') no-repeat;
    background-size: 100% 100%;
}

/* 版心 宽度为 70% 且水平居中 圆角边缘 */
.w_h {
    width: 70%;
    margin: 10px auto;
    border-radius: 20px;
}

/* logo图标显示规则 */
#logo {
    vertical-align: middle;
    margin-bottom: -5px
}

/* 页面标题显示规则 */
#web-title {
    display: inline-block;
    width: auto;
}

/* 按钮规则 */
input[type=button], button, a.button {
    background-color: rgba(234, 226, 226, 0.6);
    color: #204244;
    transition: all 0.5s;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

/* a 按钮边框 */
a.button {
    text-decoration: none;
    border: 1px solid #000000;
}

/* 按钮动态效果 */
input[type=button]:hover,
button:hover,
a.button:hover {
    background-color: rgb(0, 0, 0);
    color: #72c6cb;
}

/* 表整体格式 */
table.theme-table {
    text-align: center;
    background-color: #1ed2c3;
    align-items: center;
}

/* 表单元格格式与表格式 */
td.theme-table,
.theme-table td {
    background-color: rgb(182, 238, 233);
    padding: 5px 10px;
}

/* 水印 */
.watermark {
    background: url("../image/watermark.png");
    background-size: 128px;
}

.DISPLAY_BOX {
    width: 30%;
    display: inline-block;
    font-family: 'icomoon', serif;
    background-color: #FFFFFF;
    border: 1px solid #72c6cb;
    border-radius: 20px;
    transition: all 0.5s;
}

.DISPLAY_BOX:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}
